<div class="container">
  <div class="well">
      <div class="media">
      	<a class="pull-left" href="#">
    		<% @work.photos.each do |x|%>
			<%= image_tag x.url, style:"width:300px;"%>
			<% end %>
  		</a>
  			<div class="media-body">
    		<h4 class="media-heading"><%= @work.title %></h4>
          <p class="text-right">
          	By
          	<%= @work.user.firstname %>
          	 
          	<%= @work.user.lastname %>
          	</p>
          <p><%= @work.body %></p>
          	<ul class="list-inline list-unstyled">
  			<li><span><i class="glyphicon glyphicon-phone"></i> <%= @work.user.phone %> 	</span></li>

           <button type="button" class="btn btn-dark"><%= link_to "Edit", edit_work_path(@work.id), :style => "color: white" %></button>

			<button type="button" class="btn btn-dark"><%= link_to "Delete", work_path(@work.id), method: :delete, :style => "color: white"%></button>
			
			</ul>
       		</div>
    	</div>
  </div>
   
</div>

<% if current_user == @work.user %>


   
    <% end %>
    <br>

<% if user_signed_in? %>

<%= render 'comments/form'%>

<% else %>
<%= link_to "Reg", new_user_registration_path%><br>
або
<%= link_to "Log", new_user_session_path%>
<% end %>
<br>
<ul class="content-list content-list_comments">
<% @comments.each do |comment| %>
  <%=render 'comments/comment', comment:comment %>
<%end%>
</ul>

